*
    margin: 0
    padding 0

body
    // 设置项目整个背景

    // 字体设置
    font: 14px 'Microsoft Yahei'
    // 引入外部字体
    @font-face
        font-family: Speedo
        src: url('./font/Speedo.ttf')
    @font-face
        font-family: LRRL
        src: url('./font/龙书势如破竹.ttf')
    // 背景照片-地址
    background: rgba(0,0,0,0.1) url('../image/car/4.jpg') 
    // 背景图片透明度设置
    
    // 背景照片位置固定
    background-attachment: fixed
    // 背景照片平铺设置
    // 书写不平铺时：注意-书写
    background-repeat: no-repeat
    // 背景位置设置--垂直水平居中
    background-position: center center
    // 背景覆盖整个窗口-CSS3
    background-size: cover
    // 背景图片未加载出来时-页面的颜色
    background-color: #fff

    
